---
title: false
styles: true
---
// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #1574D9 !default;
$bodyColour: #021F3F !default;
$linkColour: #1dbab4 !default;
$hoverColour: #fc5226 !default;
$focusColour: #fa407a !default;
$captionColour: #DDDDDD !default;
$white: #ffffff !default;


// TIP: Load custom fonts in _config.yaml
@import "alembic";
